PORT=3333
HOST=0.0.0.0
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/minihub_car
JWT_SECRET=super-secret-minihub-jwt-token-key-change-in-production
JWT_REFRESH_SECRET=super-secret-minihub-refresh-token-key-change-in-production
CORS_ORIGIN=http://localhost:3000
STORAGE_LOCAL_PATH=./uploads
# Chave Pix para Apoio / Doações e Manutenção da Hospedagem
DONATION_PIX_KEY=sua-chave-pix-aleatoria-aqui
DONATION_MONTHLY_GOAL=110.00
